{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel ="stylesheet" type="text/css" href='{% static "weather/styles.css" %}?{%now "U" %}'>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Weather App</h2>
        <p>OpenWeather only allows one API call per second, so loading data for the first time may take around 4 minutes. </p>
        <div id="progress-bar-message">Waiting for progress to start...</div>
        <div class='progress-wrapper'>
            <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
        </div>
        <form action="" method="get">
            <select class="form-control" name="forecast">
                <option value = "" selected disabled hidden> Choose here</option>
                <option value="thunderstorm">Thunderstorm</option>
                <option value="drizzle">Drizzle</option>
                <option value="rain">Rain</option>
                <option value="snow">Snow</option>
                <option value="atmosphere">Atmosphere</option>
                <option value="clear">Clear</option>
                <option value="clouds">Clouds</option>
            </select>
            <button type="submit" class="btn btn-primary">Submit</button>
                {% if not forecast %}
                <h3> Please choose an option from the dropdown window </h3>
                {% elif forecast and weather %}
                <h3>The following cities are currently experiencing {{ forecast }}:</h3>
                {% for key, value in weather.items %}
                    <div class="card">
                        <div class="card-body">
                            <div class="city-name">{{ key }}</div>
                            Temperature: {{ value.temp }} degrees Fahrenheit <br>
                            Wind Speed: {{ value.wind }} mph
                        </div>
                    </div>
                {% endfor %}
                {% elif forecast and not weather.items %}
                <h3>No cities are currently experiencing {{ forecast }}</h3>
                {% endif %}
        </form>
    </div>

    <!-- Optional JavaScript for Bootstrap-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
</body>
<script>
    function customSuccess(progressBarElement, progressBarMessageElement) {
        progressBarMessageElement.innerHTML = "Data is ready!"
    }
    document.addEventListener("DOMContentLoaded", function () {
        var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
        CeleryProgressBar.initProgressBar(progressUrl, {
            onSuccess: customSuccess,
        });
    });
</script>
</html>